<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>
  <unity>
    <containers>
      <container name="yidal">
        <!--<register type="IDAO.IStudentDao,IDAO" mapTo="DAO.StudentDao,DAO" name="StudentDAO"></register>-->
      </container>
      <container name="containerTwo">
        <register type="IBLL.IPublicCharBLL,IBLL" mapTo="BLL.PublicCharBLL,BLL" name="PublicCharBLL"></register>
      <register type="IBLL.IStandardDetailsBLL,IBLL" mapTo="BLL.StandardDetailsBLL,BLL" name="StandardDetailsBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
