<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>
  <unity>
    <containers>
      <container name="yidal">
        <!--<register type="IDAO.IStudentDao,IDAO" mapTo="DAO.StudentDao,DAO" name="StudentDAO"></register>-->
      </container>
      <!--IBLL->BLL -->
      <container name="containerTwo">
        <register type="IBLL.IPermissionBLL,IBLL" mapTo="BLL.PermissionBLL,BLL" name="PermissionBLL"></register>
        <register type="IBLL.IMechanismFirstBLL,IBLL" mapTo="BLL.MechanismFirstBLL,BLL" name="MechanismFirstBLL"></register>
        <register type="IBLL.IMechanismSecondBLL,IBLL" mapTo="BLL.MechanismSecondBLL,BLL" name="MechanismSecondBLL"></register>
        <register type="IBLL.IMechanismThirdBLL,IBLL" mapTo="BLL.MechanismThirdBLL,BLL" name="MechanismThirdBLL"></register>
        <register type="IBLL.IPublicCharBLL,IBLL" mapTo="BLL.PublicCharBLL,BLL" name="PublicCharBLL"></register>
      <register type="IBLL.IStandardDetailsBLL,IBLL" mapTo="BLL.StandardDetailsBLL,BLL" name="StandardDetailsBLL"></register>
        <register type="IBLL.IConfigMajorKindBLL,IBLL" mapTo="BLL.ConfigMajorKindBLL,BLL" name="ConfigMajorKindBLL"></register>
        <register type="IBLL.IConfigPublicCharBLL,IBLL" mapTo="BLL.ConfigPublicCharBLL,BLL" name="ConfigPublicCharBLL"></register>
        <register type="IBLL.IConfigMajorBLL,IBLL" mapTo="BLL.ConfigMajorBLL,BLL" name="ConfigMajorBLL"></register>
        <register type="IBLL.IEngageBLL,IBLL" mapTo="BLL.EngageBLL,BLL" name="EngageBLL"></register>
        <register type="IBLL.IEngageResumeBLL,IBLL" mapTo="BLL.EngageResumeBLL,BLL" name="EngageResumeBLL"></register>
        <register type="IBLL.IEngageInterviewBLL,IBLL" mapTo="BLL.EngageInterviewBLL,BLL" name="EngageInterviewBLL"></register>
        <register type="IBLL.IHumanFileBLL,IBLL" mapTo="BLL.HumanFileBLL,BLL" name="HumanFileBLL"></register>
        <register type="IBLL.ISalaryStandardBLL,IBLL" mapTo="BLL.SalaryStandardBLL,BLL" name="SalaryStandardBLL"></register>
        <register type="IBLL.ISalaryStandardDetailsBLL,IBLL" mapTo="BLL.SalaryStandardDetailsBLL,BLL" name="SalaryStandardDetailsBLL"></register>
        <register type="IBLL.IUsersBLL,IBLL" mapTo="BLL.UsersBLL,BLL" name="UsersBLL"></register>
        <register type="IBLL.IUsersmanBLL,IBLL" mapTo="BLL.UsersmanBLL,BLL" name="UsersmanBLL"></register>
        <register type="IBLL.IView_UserBLL,IBLL" mapTo="BLL.View_UserBLL,BLL" name="View_UserBLL"></register>
        <register type="IBLL.IAuthorityroleBLL,IBLL" mapTo="BLL.AuthorityroleBLL,BLL" name="AuthorityroleBLL"></register>
        <register type="IBLL.IView_AuthorityroleBLL,IBLL" mapTo="BLL.View_AuthorityroleBLL,BLL" name="View_AuthorityroleBLL"></register>
        <register type="IBLL.IMajor_changeBLL,IBLL" mapTo="BLL.Major_changeBLL,BLL" name="Major_changeBLL"></register>
        <register type="IBLL.ISalaryGrantBLL,IBLL" mapTo="BLL.SalaryGrantBLL,BLL" name="SalaryGrantBLL"></register>
        <register type="IBLL.ISalaryGrantdetailsBLL,IBLL" mapTo="BLL.SalaryGrantdetailsBLL,BLL" name="SalaryGrantdetailsBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>