<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--IDAO->DA0-->
      <container name="containerOne">
      </container>
      <!--IBLL->BLL  -->
      <container name="containerTwo">
        <register type="IBLL.IConfigMajorKindBLL,IBLL" mapTo="BLL.ConfigMajorKindBLL,BLL" name="ConfigMajorKindBLL"></register>
        <register type="IBLL.IConfigPublicCharBLL,IBLL" mapTo="BLL.ConfigPublicCharBLL,BLL" name="ConfigPublicCharBLL"></register>
        <register type="IBLL.IConfigMajorBLL,IBLL" mapTo="BLL.ConfigMajorBLL,BLL" name="ConfigMajorBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>