
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectFB</title>
    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js"></script>
    <script src="~/jquery-1.11.1.js"></script>
    <script src="~/vue-2.4.0.js"></script>
</head>
<body>
    <div id="aa">
        <input type="hidden" name="utilBean.currPage" id="page" />
        <table width="100%">
            <tr>
                <td>
                    <font color="black">
                        您正在做的业务是：人力资源--招聘管理--职位发布管理--职位发布查询
                </td>
            </tr>

        </table>
        当前可变更是职位发布总数：{{rows}}例
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="15%" class="TD_STYLE1">
                    职位名称
                </td>
                <td width="20%" class="TD_STYLE1">
                    公司名称
                </td>
                <td width="10%" class="TD_STYLE1">
                    招聘人数
                </td>
                <td width="20%" class="TD_STYLE1">
                    发布时间
                </td>
                <td width="20%" class="TD_STYLE1">
                    截止时间
                </td>
                <td width="8%" class="TD_STYLE1">
                    申请职位
                </td>
            </tr>
            <tr v-for="(item,i) in es">
                <td class="TD_STYLE2">
                    {{item.MajorName}}
                </td>
                <td class="TD_STYLE2">
                    {{item.FirstMName}}
                </td>
                <td class="TD_STYLE2">
                    {{item.ManCount}}
                </td>
                <td class="TD_STYLE2">
                    {{item.RegistTime|timeFormate}}
                </td>
                <td class="TD_STYLE2">
                    {{item.Deadline|timeFormate}}
                </td>
                <td class="TD_STYLE2">
                    <a v-if="item.ManCount>0" v-bind:href="['../EngageResume/Index/'+item.Id]" >申请该职位</a>
                    <span v-if="item.ManCount<1" >已无该职位申请</span>
                </td>
            </tr>
        </table>
        <p>
            &nbsp;&nbsp;总数：{{rows}}例 &nbsp;&nbsp;&nbsp;当前第{{currentPage}} 页 /每页显示 {{pageSize}} 条 &nbsp;&nbsp;&nbsp;共 {{pages}} 页 &nbsp;&nbsp;&nbsp;
            <a v-on:click="Prev()">上一页</a> &nbsp;&nbsp;&nbsp;
            <a v-on:click="Next()">下一页</a> &nbsp;&nbsp;&nbsp;跳到第 <input name=page v-on:change="SetCurrent()" type=text class=input1 id="currPage" size=1> 页&nbsp;&nbsp;<input type="image" src="../../../images/go.bmp" onclick="tj('1')" width=18 height=18 border=0>
        </p>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#aa",
            data: {
                es: null,
                rows: 0,
                currentPage: 1,
                pageSize: 5,
                pages:0,
            },
            methods: {
                GetEs: function () {
                    var t = this;
                    $.ajax({
                        url: "../Engage/GetEngages",
                        type: "post",
                        data: "currentPage=" + t.currentPage + "&pageSize=" + t.pageSize,
                        success: function (rs) {
                            t.es = eval("(" + rs + ")");
                            $.ajax({
                                url: "../Engage/GetRow",
                                type: "post",
                                success: function (rs) {
                                    t.rows = rs;
                                    t.pages = Math.ceil(t.rows / t.pageSize);
                                }
                            });
                        }
                    });
                },
                Next: function () {
                    if (this.currentPage + 1 <= this.pages) {
                        this.currentPage += 1;
                    }
                    this.GetEs();
                },
                Prev: function () {
                    if (this.currentPage - 1 >= 1) {
                        this.currentPage -= 1;
                    }
                    this.GetEs();
                },
                SetCurrent: function () {
                    if ($("#currPage").val() < 1 || $("#currPage").val() > this.pages || isNaN($("#currPage").val())) {
                        $("#currPage").val(1);
                        this.currentPage = 1;
                    } else {
                        this.currentPage = $("#currPage").val();
                    }
                    this.GetEs();
                },
            },
            created: function () {
                this.GetEs();
            },
            filters: {
                timeFormate: function (v) {
                    var value = v.substring(0, v.indexOf("T"))
                    var y = value.substring(0,value.indexOf("-"));
                    var m = value.substring(value.indexOf("-")+1, value.lastIndexOf("-"));
                    var d = value.substring(value.lastIndexOf("-")+1, value.length);
                    return y + '年' + m + '月' + d+'日';
                }
            }
        });
    </script>
</body>
</html>
