
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DengLu</title>
    <style type=text/css>
        *{
            padding:0px;
        }
        body {
            font-size: 12px;
            color: #ffffff;
            font-family: 宋体;
        }

        td {
            font-size: 12px;
            color: #ffffff;
            font-family: 宋体;
        }
        #hh{
            margin:0px;
            width:100%;
            height:100%;
            transition:2s ease-in-out;
        }
    </style>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/javascript/jquery.messager.js"></script>
    <script src="~/javascript/login.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
    <script type="text/javascript" >
        $(function () {
            $("#hh").toggle(function () {
                $(this).css("filter", "blur(20px)");
            }, function () {
                $(this).css("filter", "blur(0px)");
            });
        });
    </script>
</head>
<body>
        <div id="aa">
            <img id="hh" src="../../images/无标题.png"/>
            <div>
                <div style="height: 28px;color:red;" width=80>
                    登 录 名：
                </div>
                <div style="height: 28px" width=150>
                    <input id="userName" style="width: 130px" />
                </div>
            </div>
            <div>
                <div style="height: 28px;color:red;">
                    登录密码：
                </div>
                <div style="height: 28px">
                    <input id="userPassword" style="width: 130px" type="password" />
                </div>
            </div>
            <div>
                <input type="button" value="登录" v-on:click="Dengl()" />
            </div>
            @*<table cellspacing=0 cellpadding=0 width=900 align=center border=0>
                <tbody>
                    <tr>
                        <td style="height: 105px">
                            <img src="~/images/login_11.gif" border=0/>
                        </td>
                    </tr>
                    <tr>
                        <td background=~/images/login_22.jpg height=300>
                            <table height=300 cellpadding=0 width=900 border=0>
                                <tbody>
                                    <tr>
                                        <td colspan=2 height=35></td>
                                    </tr>
                                    <tr>
                                        <td width=360></td>
                                        <td>
                                            <table cellspacing=0 cellpadding=2 border=0>
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 28px" width=80>
                                                            登 录 名：
                                                        </td>
                                                        <td style="height: 28px" width=150>
                                                            <input id="userName" style="width: 130px" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height: 28px">
                                                            登录密码：
                                                        </td>
                                                        <td style="height: 28px">
                                                            <input id="userPassword" style="width: 130px" type="password" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height: 18px"></td>
                                                        <td style="height: 18px"></td>
                                                        <td style="height: 18px"></td>
                                                    </tr>
                                                    <tr>

                                                        <td>
                                                            <input type="button" value="登录"  v-on:click="Dengl()" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/login_33.jpg" border=0/>
                        </td>
                    </tr>
                </tbody>
            </table>*@
        </div>
    <script type="text/javascript">
        var va = new Vue({
            el: "#aa",
            data: {

            },
            methods: {
                Dengl: function () {
                    var v = this;
                    $.ajax({
                        url: "/Users/Dl",
                        type: "post",
                        data: "uid=" + $("#userName").val() + "&pid=" + $("#userPassword").val(),
                        success: function (msg) {
                            if (msg>0) {
                                alert("登陆成功");
                                location.href = "/Home/Index";
                            }
                            else {
                                alert("登陆失败");
                            }
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>
