
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
</head>
<body>
    <table width="100%">
        <tr>
            <td>
                <font color="black">您正在做的业务是：人力资源--权限管理--用户管理 </font>
            </td>
        </tr>
        <tr>
            <td>
                当前角色总数：6例
            </td>
        </tr>
        <tr>
            <td align="right">
                <input type="button" value="添加用户" class="BUTTON_STYLE1" onclick="location.href='/Users/Add'">
            </td>
        </tr>
    </table>
    <table width="100%" border="1" cellpadding=5 cellspacing=1
           bordercolorlight=#848284 bordercolordark=#eeeeee
           class="TABLE_STYLE1" id="zo">
        <tr class="TR_STYLE1">
            <td class="TD_STYLE1">
                用户编号
            </td>
            <td class="TD_STYLE1">
                用户名称
            </td>
            <td class="TD_STYLE1">
                真实姓名
            </td>
            <td class="TD_STYLE1">
                用户密码
            </td>
            <td class="TD_STYLE1">
                用户身份
            </td>
            <td class="TD_STYLE1">
                操作
            </td>
        </tr>

        <tr class="TR_STYLE2" v-for="(item,i) in nums">
            <td class="TD_STYLE2">
                {{item.U_id}}
            </td>
            <td class="TD_STYLE2">
                {{item.U_name}}
            </td>
            <td class="TD_STYLE2">
                {{item.U_true_name}}
            </td>
            <td class="TD_STYLE2">
                {{item.U_password}}
            </td>
            <td class="TD_STYLE2">
                {{item.U_name1}}
            </td>
            <td class="TD_STYLE2">
                <a v-bind:href="['/Users/Update/'+item.U_id]"><img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" /></a>
                <img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" v-on:click="sc(item.U_id)" />
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        var va = new Vue({
            el: "#zo",
            data: {
                nums:""
            },
            methods: {
                cx: function () {
                    var s = this;
                    $.ajax({
                        url:"/Users/Index2",
                        type:"post",
                        success: function (msg) {
                            var ms = eval("(" + msg + ")");
                            s.nums = ms;
                        }
                    })
                },
                sc: function (id) {
                    if (confirm("确认删除？")) {
                        alert("删除成功")
                        location = "../Users/Del/" + id;
                    }
                }
            },
            created: function () {
                this.cx();
            }
        })
    </script>
</body>
</html>
