
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToAdd</title>
    <link rel="stylesheet" href="../../css/table.css" type="text/css">
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
    <script src="~/jquery-1.11.1.js"></script>
    <script src="~/vue-2.4.0.js"></script>
</head>
<body>
    <div id="aa"> 
        @using(Html.BeginForm("Add" , "MechanismSecond", FormMethod.Post)) { 
            <input type="hidden" id="firstKindName" name="cfsk.firstKindName">
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">
                            您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--II级机构设置--II级机构添加
                        </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" value="提交" class="BUTTON_STYLE1">
                        <input type="button" value="返回" class="BUTTON_STYLE1"
                               onclick="history.back();">
                    </td>
                </tr>
            </table>


            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td width="19%" class="TD_STYLE1">
                        I级机构名称
                    </td>
                    <td width="81%" class="TD_STYLE2">
                        <input type="hidden" id="FirstMName" name="FirstMName" v-model="MFName" />
                        <select name="FirstMid" id="FirstMid" onchange="$('#FirstMName').val($(this).children('option:checked').text());"  >
                            <option v-for="(item,i) in MFs" v-bind:value="item.FirstMId" >{{item.FirstMName}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="19%" class="TD_STYLE1">
                        II级机构编号
                    </td>
                    <td width="81%" class="TD_STYLE2">
                        <input type="text" name="SecondMid" value="@ViewBag.Mid"
                               class="INPUT_STYLE1" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        II级机构名称
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" class="INPUT_STYLE1" name="SecondMName" value="" required="required" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬发放责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                    </td>
                    <td class="TD_STYLE2">
                        <textarea rows="4" cols="" class="TEXTAREA_STYLE1" name="SalaryId"  required="required" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        销售责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                    </td>
                    <td class="TD_STYLE2">
                        <textarea rows="4" cols="" class="TEXTAREA_STYLE1" name="SalesId" required="required" ></textarea>
                    </td>
                </tr>
            </table>
        }
    </div>
    <script type="text/javascript" >
        var vm = new Vue({
            el: "#aa",
            data: {
                MFs: null,
                MFName:""
            },
            methods: {
                GetMFs: function () {
                    var t = this;
                    $.ajax({
                        url: "../MechanismFirst/GetMFs",
                        type: "post",
                        success: function (rs) {
                            t.MFName=eval("(" + rs + ")")[0].FirstMName;
                            t.MFs = eval("(" + rs + ")");
                        }
                    });
                }
            },
            created: function () {
                this.GetMFs();
            }
        });
    </script>
</body>
</html>
