
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checker</title>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <script src="~/jquery-1.11.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="/signalR/Hubs" type="text/javascript"></script>
    <script src="~/jquery-easyui-1.3.5/jquery.easyui.min.js"></script>
    <script src="~/jquery-easyui-1.3.5/plugins/jquery.messager.js"></script>
    <link href="~/jquery-easyui-1.3.5/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.3.5/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/jquery-easyui-1.3.5/themes/icon.css" rel="stylesheet" />
    <script src="~/bootstrap.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
    <style type="text/css" >
        *{
            margin:0px;
            padding:0px;
        }
        #hk{
            display:inline-block;
            /*position:absolute;*/
            /*border:1px solid red;*/
            height:560px;
            margin-top:20px;
            width:90%;
            background-color:white;
            opacity:0.95;
            border-radius:30px;
            /*transform:translateY(40px);*/
            transition:1s ease-in-out;
        }
        #yuy{
            margin:30px auto 0px;
            background-color:#fff;
            opacity:1;
            width:95%;
        }
        .NameHH{
            float:left;
            margin-left:50px;
        }
        .CountHH{
            float:right;
            margin-right:50px;
        }
        .rrr{
            height:45px;
            cursor:pointer;
        }
        .rrr:hover{
            background-color: #F5EDE1; 
            color: #AD98A5;
        }
    </style>
    <script type="text/javascript" >
        $(function () {
            //$("#hk").css("transform", "translateY(0px)");
            //$(document).on(".rrr", "hover", function () {
            //    $(this).css({ "backgroundColor": "#F5EDE1", "color": "#AD98A5" })
            //})
            //$(".rrr").hover(function () {
            //    $(this).css({ "backgroundColor": "#F5EDE1", "color": "#AD98A5" })
            //}, function () {
            //    $(this).css({ "backgroundColor": "#FEFDFC","color":"black" })
            //});
        });
    </script>
</head>
<body style="background:url(../../images/无标题.png) 0px 0px no-repeat;text-align:center;" >
    <div id="hk"> 
        <div id="yuy" >
            <ul class="list-group">
                <li v-for="(item,i) in ps" v-bind:onclick="['location = \''+item.Url+'\'']" class="list-group-item rrr" ><span class="NameHH">{{item.text}}</span><span class="CountHH"><span v-bind:id="['id'+i]"></span>例</span></li>
              @* 
                <li onclick="location = '/EngageResume/GetEngageResumeSX'" class="list-group-item rrr"><span class="NameHH">简历筛选</span><span class="CountHH"><span id="ERs" ></span>例</span></li>
                <li onclick="location = '/EngageInterview/EngageInterviewSX'" class="list-group-item rrr"><span class="NameHH">面试筛选</span><span class="CountHH"><span id="EIs"></span>例</span></li>
                <li onclick="location = '/EngageEmploy/LYSP'" class="list-group-item rrr"><span class="NameHH">录用审批</span><span class="CountHH"><span id="LYSPs"></span>例</span></li>
                <li onclick="location = '/HumanFile/HumanFileCheckList'" class="list-group-item rrr"><span class="NameHH">人力资源档案登记复核</span><span class="CountHH"><span id="HFs"></span>例</span></li>
                <li onclick="location = '/SalaryStandard/Checklist'" class="list-group-item rrr"><span class="NameHH">薪酬标准登记复核</span><span class="CountHH"><span id="Es"></span>例</span></li>
                <li onclick="location = '/SalaryGrant/SelectFH'" class="list-group-item rrr"><span class="NameHH">薪酬发放登记复核</span><span class="CountHH"><span id="FHEs"></span>例</span></li>
                <li onclick="location = '/Mobilization_audit/check_list'" class="list-group-item rrr"><span class="NameHH">调动复核</span><span class="CountHH"><span id="DDERs"></span>例</span></li>
            *@ 
           </ul>
        </div>
    </div>
    <script type="text/javascript" >
        $(function () {
            $.connection.hub.start().done(function () {
                //alert('连接OK');
            });
            $.connection.myHub1.client.HSTT = function (name, msg) {
                //if (name=="张三") {
                //    //alert(name + message);
                //    //获取详细信息
                vm.GetERs();
                vm.GetEIs();
                vm.GetLYSPs();
                vm.GetHFs();
                vm.GetEs();
                vm.GetFHEs();
                vm.GetDDERs();
                    $.messager.show({
                        title: name,
                        msg: msg+"新增一条数据!",
                        timeout: 6000,
                        showType: 'slide'
                    });
                //}
            };
        });
        
        var vm = new Vue({
            el: "#hk",
            data: {
                ps:null,
            },
            methods: {
                GetPs:function(){
                    var t=this;
                    $.post("/Home/GetSHPermissionRole",function(rs){
                        t.ps=eval("("+rs+")");
                    });
                },
                GetERs: function () {
                    var t = this;
                    $.ajax({
                        url: "../EngageResume/GetEngageResumeSXJL",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1 ,
                        success: function (rs) {
                            t.ERs = eval("(" + rs + ")");
                            $.ajax({
                                url: "../EngageResume/GetRow",
                                type: "post",
                                success: function (rs) {
                                    //$("#ERs").text(rs);
                                    $("#id0").text(rs);
                                }
                            });
                        }
                    });
                },
                GetEIs: function () {
                    var t = this;
                    $.ajax({
                        url: "/EngageInterview/GetEngageInterviewSX",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1,
                        success: function (rs) {
                            var dic = eval("(" + rs + ")");
                            //$("#EIs").text(dic["rows"]);
                            $("#id1").text(dic["rows"]);
                        }
                    });
                },
                GetLYSPs: function () {
                    var t = this;
                    $.ajax({
                        url: "/EngageEmploy/GetEngageEmployLYSP",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1,
                        success: function (rs) {
                            var dic = eval("(" + rs + ")");
                            //$("#LYSPs").text(dic["rows"]);
                            $("#id2").text(dic["rows"]);
                        }
                    });
                },
                GetHFs: function () {
                    var t = this;
                    $.ajax({
                        url: "/HumanFile/GetHumanFileCheckList",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1,
                        success: function (rs) {
                            var dic = eval("(" + rs + ")");
                            //$("#HFs").text(dic["rows"]);
                            $("#id3").text(dic["rows"]);
                        }
                    });
                },
                GetEs: function () {
                    var t = this;
                    $.ajax({
                        url: "../SalaryStandard/DJFH",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1,
                        success: function (rs) {
                            $.ajax({
                                url: "../SalaryStandard/GetRow",
                                type: "post",
                                success: function (rs) {
                                    //$("#Es").text(rs);
                                    $("#id4").text(rs);
                                }
                            });
                        }
                    });
                },
                GetFHEs: function () {
                    var t = this;
                    $.ajax({
                        url: "../SalaryGrant/DJFH",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1,
                        success: function (rs) {
                            $.ajax({
                                url: "../SalaryGrant/GetRow",
                                type: "post",
                                success: function (rs) {
                                    //$("#FHEs").text(rs);
                                    $("#id5").text(rs);
                                }
                            });
                        }
                    });
                },
                GetDDERs: function () {
                    var t = this;
                    $.ajax({
                        url: "/Mobilization_audit/Index2",
                        type: "post",
                        data: "currentPage=" + 1 + "&pageSize=" + 1,
                        success: function (rs) {
                            var dic = eval("(" + rs + ")");
                            //$("#DDERs").text(dic["rows"]);
                            $("#id6").text(dic["rows"]);
                        }
                    });
                },
            },
            created: function () {
                this.GetPs();
                this.GetERs();
                this.GetEIs();
                this.GetLYSPs();
                this.GetHFs();
                this.GetEs();
                this.GetFHEs();
                this.GetDDERs();
            }
        });
    </script>
</body>
</html>
