
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
</head>
<body>
    <div id="zh">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--权限管理--角色管理 </font>
                </td>
            </tr>
            <tr>
                <td>
                    当前角色总数：{{rows}}例
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="button" value="添加角色" class="BUTTON_STYLE1" onclick="location.href='/Usersman/Add'">
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=5 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr class="TR_STYLE1">
                <td class="TD_STYLE1">
                    角色编号
                </td>
                <td class="TD_STYLE1">
                    角色名称
                </td>
                <td class="TD_STYLE1">
                    角色说明
                </td>
                <td class="TD_STYLE1">
                    是否可用
                </td>
                <td class="TD_STYLE1">
                    操作
                </td>
            </tr>

            <tr class="TR_STYLE2" v-for="(item,i) in nums">
                <td class="TD_STYLE2">
                    {{item.U_oid}}
                </td>
                <td class="TD_STYLE2">
                    {{item.U_name1}}
                </td>
                <td class="TD_STYLE2">{{item.U_sm}}</td>
                <td class="TD_STYLE2">
                    {{item.U_sf}}
                </td>
                <td class="TD_STYLE2">
                    <a v-bind:href="['/Usersman/Update/'+item.U_oid]"><img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" /></a>
                    <img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" v-on:click="sc(item.U_oid)" />
                </td>
            </tr>
        </table>
        <p>
            &nbsp;&nbsp;总数：{{rows}}例 &nbsp;&nbsp;&nbsp;当前第{{currentPage}} 页 /每页显示 {{PageSize}} 条 &nbsp;&nbsp;&nbsp;共 {{pages}} 页 &nbsp;&nbsp;&nbsp;
            <a v-on:click="Prev()">上一页</a> &nbsp;&nbsp;&nbsp;
            <a v-on:click="Next()">下一页</a> &nbsp;&nbsp;&nbsp;跳到第 <input name=page v-on:change="SetCurrent()" type=text class=input1 id="currPage" v-model="currentPage" size=1> 页&nbsp;&nbsp;<input type="image" src="../../../images/go.bmp" onclick="tj('1')" width=18 height=18 border=0>
        </p>
    </div>
    <script type="text/javascript">
        var va = new Vue({
            el: "#zh",
            data: {
                nums: "",
                rows: 0,
                currentPage: 1,
                PageSize: 5,
                pages: 0,
            },
            methods: {
                FenYe: function () {
                    var t = this;
                    $.ajax({
                        url: "../Usersman/Index2",
                        type: "post",
                        data: "currentPage=" + t.currentPage + "&PageSize=" + t.PageSize,
                        success: function (rs) {
                            t.nums = eval("(" + rs + ")")["list"];
                            t.rows = eval("(" + rs + ")")["rows"];
                            t.pages = Math.ceil(t.rows / t.PageSize);
                        }
                    });
                },
                Next: function () {
                    if (this.currentPage + 1 <= this.pages) {
                        this.currentPage += 1;
                    }
                    this.FenYe();
                },
                Prev: function () {
                    if (this.currentPage - 1 >= 1) {
                        this.currentPage -= 1;
                    }
                    this.FenYe();
                },
                sc: function (id) {
                    if (confirm("确认删除？")) {
                        alert("删除成功")
                        location = "../Usersman/Del/" + id;
                    }
                },
                SetCurrent: function () {
                    if ($("#currPage").val() < 1 || $("#currPage").val() > this.pages || isNaN($("#currPage").val())) {
                        $("#currPage").val(1);
                        this.currentPage = 1;
                    } else {
                        this.currentPage = Number($("#currPage").val());
                    }
                    this.FenYe();
                },
            },
            created: function () {
                this.FenYe();
            }
        })
    </script>
</body>
</html>
