
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EJJG</title>
    <script src="~/javascript/jquery-1.7.2.js"></script>
<link href="~/css/table.css" rel="stylesheet" />
<script src="~/javascript/comm/comm.js"></script>
<script src="~/vue-2.4.0.js"></script>
<STYLE type="text/css">
    td {
        text-align: center;
    }
</STYLE>
</head>
<body>
    <div id="pro">
        <table width="100%">
            <tr>
                <td colspan="2" style="text-align: left">
                    <font color="black">
                        您正在做的业务是：人力资源--薪酬标准管理--薪酬发放登记(负责人控制)
                    </font>

                </td>
            </tr>

        </table>
        <br>
        薪酬总数:3，
        总人数:8，基本薪酬总数:141821.0，实发总额:1998.0
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">

            <tr>
                <td width="10%" class="TD_STYLE1">
                    <span>序号</span>
                </td>


                <td width="40%" class="TD_STYLE1">
                    <span>二级机构名称</span>
                </td>


                <td width="10%" class="TD_STYLE1">
                    <span>人数</span>
                </td>
                <td width="10%" class="TD_STYLE1">
                    基本薪酬总额(元)
                </td>
                <td width="10%" class="TD_STYLE1">
                    登记
                </td>
            </tr>

            <tr v-for="(item,i) in dt">
                <td>{{item.Secondkindid}}</td>
                <td>{{item.Secondkindname}}</td>
                <td>{{item.Humanamount}}</td>
                <td>{{item.Salarystandardsum}}</td>
                <td>
                    <a v-bind:href="['/SalaryGrant/Commit?id='+item.Salarygrantid+'&sid='+item.Id]">登 记</a>
                    @*<a v-bind:href="['/SalaryGrant/Commit/'+item.Salarygrantid]">登 记</a>*@

                </td>
            </tr>



        </table>
        <p>

            &nbsp;
        </p>

        <script type="text/javascript">
        var vm = new Vue({
            el: "#pro",
            data: {
                id:"",
                dt: null
            },
            methods: {
                load: function () {
                    var t = this;
                    $.ajax({
                        url: "/SalaryGrant/EJJG2",
                        type: "post",
                        success: function (r) {
                            var mdt = eval("(" + r + ")");
                            t.dt = mdt;
                        }
                    });
                }
            },
            created: function () {
                this.load();
            }
        });
        </script>
</body>
</html>
